body {
    background-color: #fff;
}

header {
    background-color: #808080;
}

.navbar-brand h1 { /* Food, LLC */
    font-family: 'Lora', serif;
    color: #343434;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-nav {
    color: #c0c2c2;
    background-color: #fce84a;
    border: 1px solid #641c41;
    margin: 0;
}

#list-above {
    border-bottom: 1px solid #641c41;
}

h2{
    font-weight:bold;
}

#menu-tile {
    font-size: 16px;
    color: #fff;
    background-color: #a52f3d;
    font-family: 'Oxygen', sans-serif;
    padding:0 15px 0 15px;
}

#menu-tile h3 {
    font-size: 1.5em;
    text-align: center;
}

.container p{
    height: 1000px;
}
